* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: azure;
    height: 100vh;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    font-weight: bold;
    font-size: 30px; 
    background-color: rgb(99, 96, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 16px 2px;
}

#resumeForm {
    text-align: left;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px 2px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(96, 197, 255);
    width: 60vw;
    max-width: 400px;
    height: auto;
    box-shadow: 2px 2px 16px 2px;
}

label {
    margin-left: 5px;
    font-weight: bold;
}

input,
button {
    margin: 5px 0;
    padding: 8px;
    border: 2px solid black;
    border-radius: 10px 2px 10px 20px;
    width: 90%;
    max-width: 300px;
    font-size: 16px;
}

input::placeholder {
    font-size: 10px;
    /* Set a smaller font size */
    color: gray;
    /* Optionally change the placeholder text color */
    opacity: 1;
    /* Ensure full opacity for better visibility */
}

button {
    background-color: rgb(96, 125, 255);
    box-shadow: 2px 2px 16px 2px;
    font-size: 16px;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 2px solid rgb(29, 28, 28);
    /* Solid black line */
    margin: 20px 0;
    width: 100%;

}

#resumeOutput {
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px 2px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(96, 197, 255);
    width: 60vw;
    max-width: 400px;
    height: auto;
    box-shadow: 2px 2px 16px 2px;
    font-size: 20px;
    font-weight: 400;
}





@media (max-width: 600px) {
    #resumeForm {
        width: 90vw;
    }

    input,
    button {
        width: 95%;
    }
}